<input type="hidden" class="kvas" value="{{ betType[0].id }}" >
<select name="" id="">
    {% for type in betType %}
     {% set betLabel = ('bet'~'.'~ type.name)%}
     <option value="{{ type.id }}">{{ betLabel|trans }}</option>
    {% endfor %}
</select>