<input type="hidden" class="kvas" value="{{ betType[0].id }}" >
<select name="" id="">
    {% for type in betType %}
     <option value="{{ type.id }}">{{ type.name }}</option>
    {% endfor %}
</select>