
<select class="betInput" name="" id="">
    {% for type in betType %}
     {% set betLabel = ('bet'~'.'~ type.name)%}
     <option {% if type.code == 'single'%}selected='selected'{% endif %} value="{{ type.id }}">{{ betLabel|trans }}</option>
    {% endfor %}
</select>