{% extends 'QwerLottoFrontendBundle::layout.html.twig' %}
{% block body %}
{% block content %}
<div class="main-col"><!-- main-col -->
			{{'how_to_play'|trans|raw}}
			</div><!-- .main-col -->
{% endblock %}
{% endblock %}
